@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
body {
	padding: 50px;
	color: #777;
	font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 20px;
	color: #222;
}
p, ul, ol, table, pre, dl {
	margin: 0 0 20px;
}
h1, h2, h3 {
	line-height: 1.1;
}
h1 {
	font-size: 28px;
}
h2 {
	color: #393939;
}
h3, h4, h5, h6 {
	color: #494949;
}
a {
	color: #39c;
	text-decoration: none;
	font-weight: 400;
}
a small {
	display: block;
	margin-top: -0.6em;
	color: #777;
	font-size: 11px;
}
.wrapper {
	margin: 0 auto;
	width: 1060px;
}
blockquote {
	margin: 0;
	padding: 0 0 0 20px;
	border-left: 1px solid #e5e5e5;
	font-style: italic;
}
code, pre {
	color: #333;
	font-size: 12px;
	font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
}
pre {
	overflow-x: auto;
	padding: 8px 15px;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	background: #f8f8f8;
}
table {
	width: 100%;
	border-collapse: collapse;
}
th, td {
	padding: 5px 10px;
	border-bottom: 1px solid #e5e5e5;
	text-align: left;
}
dt {
	color: #444;
	font-weight: 700;
}
th {
	color: #444;
}
img {
	max-width: 100%;
}
header {
	position: fixed;
	float: left;
	width: 270px;
}
header ul {
	padding: 0;
	width: 270px;
	height: 40px;
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	background: #eee;
	background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
	background: -webkit-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
	background: -o-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
	background: -ms-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
	background: linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
	box-shadow: inset #fff 0 1px 0, inset rgba(0, 0, 0, 0.03) 0 -1px 0;
	list-style: none;
}
header li {
	float: left;
	width: 89px;
	height: 40px;
	border-right: 1px solid #d2d2d2;
}
header ul a {
	display: block;
	padding-top: 6px;
	height: 40px;
	color: #999;
	text-align: center;
	font-size: 11px;
	line-height: 1;
}
strong {
	color: #222;
	font-weight: 700;
}
header ul li + li {
	width: 88px;
	border-left: 1px solid #fff;
}
header ul li + li + li {
	width: 89px;
	border-right: none;
}
header ul a strong {
	display: block;
	color: #222;
	font-size: 14px;
}
section {
	float: right;
	padding-bottom: 50px;
	width: 700px;
}
small {
	font-size: 11px;
}
hr {
	margin: 0 0 20px;
	height: 1px;
	border: 0;
	background: #e5e5e5;
}
footer {
	position: fixed;
	bottom: 50px;
	float: left;
	width: 270px;
}
@media print, screen and (max-width:960px) {
	div.wrapper {
		margin: 0;
		width: auto;
	}
	header, section, footer {
		position: static;
		float: none;
		width: auto;
	}
	header {
		padding-right: 320px;
	}
	section {
		margin: 0 0 20px;
		padding: 20px 0;
		border: 1px solid #e5e5e5;
		border-width: 1px 0;
	}
	header a small {
		display: inline;
	}
	header ul {
		position: absolute;
		top: 52px;
		right: 50px;
	}
}
@media print, screen and (max-width:720px) {
	body {
		word-wrap: break-word;
	}
	header {
		padding: 0;
	}
	header ul, header p.view {
		position: static;
	}
	pre, code {
		word-wrap: normal;
	}
}
@media print, screen and (max-width:480px) {
	body {
		padding: 15px;
	}
	header ul {
		display: none;
	}
}
@media print {
	body {
		padding: 0.4in;
		color: #444;
		font-size: 12pt;
	}
}

/* PK */
.demo {
	margin: 20px 0;
	padding: 20px;
	border: 1px dashed #ccc;
	border-radius: 5px;
	text-align: center;
}
.demo .demo-multiline {
	text-align: left;
}
.demo p em {
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
.demo button {
	margin: 10px;
	padding: 5px 10px;
	min-width: 100px;
	outline: none;
	border: 2px solid #2876FF;
	border-radius: 20px;
	background: #2876FF;
	color: white;
	text-transform: uppercase;
	font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	box-shadow: 1px 1px 3px #777;
}
.demo button.complete {
	border-color: #3ECE31;
	background: #3ECE31;
}
.demo button.failed {
	border-color: #BE2727;
	background: #BE2727;
}
.demo button.tiny {
	min-width: 0;
}
.demo button.dark {
	background: #000;
	border-color: #000;
}
.demo button:hover, .demo button:focus {
	background: none;
	color: #777;
}
.demo img {
	vertical-align: middle;
}
.capitalize, .capitalized {
	text-transform: uppercase;
}
