@import url(http://fonts.googleapis.com/css?family=Roboto);
 body {
	font-family: Roboto, sans-serif;
}
button {
	padding: 10px 40px;
	border: none;
	border-radius: 6px;
	background: #ddd;
	text-transform: uppercase;
	font-size: 14px;
	font-family: Roboto, sans-serif;
}
button.active {
	background: lightblue;
}
button.success {
	background: lightgreen;
}
button.error {
	background: #c90000;
}
