@import url(http://fonts.googleapis.com/css?family=Roboto);
 body {
	font-family: Roboto, sans-serif;
}
button {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	padding: 10px 40px;
	background: #ddd;
	border: 4px solid #ddd;
	border-radius: 6px;
}
