<!DOCTYPE html>
<html>

<head>
	<meta charset=utf-8 />
	<title>Angular State Tracker</title>
	<link rel="stylesheet" href="app.css" />
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
</head>

<body ng-app="sampleApp" ng-controller="SampleCtrl" ng-cloak>

	<button state-tracker="s1" ng-click="s1.activate()" state-class="['', 'active', 'success', 'error']">
		{{ s1 | stateTracker:"Save":"Saving...":"Saved":"Save Failed" }}
	</button>
	<button state-tracker="s2" state-choices="['begin', 'do', 'end']" state-on-change="onChange" ng-click="s2.begin()">
		{{ v }}
	</button>

	<!-- Scripts -->
	<script src="../src/state-tracker.js"></script>
	<script src="../src/state-tracker.service.js"></script>
	<script src="../src/state-tracker.filters.js"></script>
	<script src="../src/state-tracker.directives.js"></script>
	<script src="app.js"></script>
</body>

</html>
